<div class="container" style="margin-top: 90px">
  <div class="row">


    <div class="holder">
      <h2>
        <%= t("header.about_us") %>
      </h2>
      <br>
      <hr>
      <h3 class="margBot lefted">
        <span  class="mytext">
          <%= t("header.about_us_1") %>
        </span>
      </h3>
      <br><br>

      <h3 class="margBot lefted">
        <span  class="mytext">
          <%= t("header.about_us_2") %>

        <br></span>
      </h3>
      <br><br>

      <h3 class="margBot lefted">
        <span   class="mytext">
          <%= t("header.about_us_3") %>
        <br></span>
      </h3>

      <br><br>

    </div>

    <!--<p>-->
      <!--<%= t("header.about_us_1") %>-->
    <!--</p>-->

    <!--<p>-->
      <!--<%= t("header.about_us_2") %>-->
    <!--</p>-->

    <!--<p>-->
      <!--<%= t("header.about_us_3") %>-->
    <!--</p>-->

  </div>

</div>



