<div class="container" style="margin-top: 90px">
  <div class="row">


    <div class="holder">
      <h2>
        <%= t("header.about_us") %>
      </h2>
      <br>
      <hr>
      <h3 class="margBot">
        <span style="text-align: justify  !important;">
          <%= t("header.about_us_1") %>
        </span>
      </h3>

      <h3 class="margBot">
        <span style="text-align: justify !important;">
          <%= t("header.about_us_2") %>
        </span>
      </h3>

      <h3 class="margBot">
        <span style="text-align: justify !important;">
          <%= t("header.about_us_3") %>
        </span>
      </h3>

    </div>

    <!--<p>-->
      <!--<%= t("header.about_us_1") %>-->
    <!--</p>-->

    <!--<p>-->
      <!--<%= t("header.about_us_2") %>-->
    <!--</p>-->

    <!--<p>-->
      <!--<%= t("header.about_us_3") %>-->
    <!--</p>-->

  </div>

</div>



