
<section>
  <article class="slider">
    <!---->

    <div id="owl-demo">

      <div class="item">
        <h1 style="position: fixed;
                z-index: 100;
                left: 30%;
                top: 12%;
                color: white;
                font-size: 60px;
                line-height: 95px;">
          NATURAL RESOURCES          <br>

          SERVE OF YOUR
          NEEDS
        </h1>
        <%= image_tag "picture1.jpg" , width: "100%" %>

      </div>

      <div class="item">
        <%= image_tag "picture2.jpg" , width: "100%" %>
      </div>
    </div>
  </article>
</section>
<!--<div class="sloganBox">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<article class="span12">-->
<!--<p>-->
<!--<%= t("home.caption_pic1") %>-->
<!--</p>-->
<!--</article>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--content-->
<section class="banner-box">
  <div class="container">
    <div class="row">
      <article class="span12">
        <div class="holder">
          <h2>
            <%= t("home.whatwedo") %>
          </h2>
          <br>
          <hr>
          <h3>
            <%= t("home.caption_whatwedo") %>
          </h3>
        </div>
        <div class="row">
          <article class="banner-holder">
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon1.png" %>
              </div></figure>
              <a href="#">
                Pipe Spools
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon2.png" %>
              </div></figure>
              <a href="#">
                Civil Construction Equipment
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon3.png" %>
              </div></figure>
              <a href="#">
                Gas and Oil Equipment and Machinery
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon4.png" %>
              </div></figure>
              <a href="#">
                Reactors
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon5.png" %>
              </div></figure>
              <a href="#">
                Off Shore Construction Equipment
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure><div>
                <%= image_tag "page1_icon6.png" %>
              </div></figure>
              <a href="#">
                Galvanized Steel Pipes
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
          </article>
        </div>
      </article>
      <article class="span12 servicesBox">
        <div class="holder">
          <h2>
            <%= t("home.services.title") %>
          </h2>
          <br>
          <hr>
          <h3>
            <%= t("home.services.caption_services") %>
          </h3>
        </div>
        <div class="gallery">
          <article class="box1">
            <div>
              <h4>
                <%= t("home.services.blk_box_title") %>
              </h4>
              <p>
                <%= t("home.services.blk_box_caption") %>
              </p>
              <a href="#" class="btn btn-primary">learn more</a>
            </div>
            <em></em>
          </article>

          <article class="box2">


            <article class="slider2">
              <div class="camera_wrap2 camera_wrap" style="display: block; height: 347px; margin-bottom: 98px;">
                <div class="camera_fakehover">
                  <div class="camera_src paused camerastarted">
                    <div data-thumb=<%= image_tag "service1.jpg" %> data-src=<%= image_tag "service1.jpg" %>></div>
                    <div data-thumb=<%= image_tag "service1.jpg" %> data-src=<%= image_tag "service1.jpg" %>></div>
                    <div data-thumb=<%= image_tag "service1.jpg" %> data-src=<%= image_tag "service1.jpg" %>></div>
                    <div data-thumb=<%= image_tag "service1.jpg" %> data-src=<%= image_tag "service1.jpg" %>></div>
                  </div><div class="camera_target"><div class="cameraCont">
                  <div class="cameraSlide cameraSlide_0 cameracurrent" style="visibility: visible; display: block; z-index: 999;">
                    <!--<img src="img/sub_picture1.jpg?1451991421581" class="imgLoaded" data-alignment="" data-portrait="" width="833" height="347" style="visibility: visible; height: 347px; margin-left: 0px; margin-top: 0px; position: absolute; width: 833px;">-->
                    <%= image_tag"service1.jpg" , class: "imgLoaded services_image" %>
                    <div class="camerarelative" style="width: 833px; height: 347px;"></div>
                  </div>
                  <div class="cameraSlide cameraSlide_1 cameranext" style="display: none;">
                    <img src="img/sub_picture2.jpg?1451991444986" class="imgLoaded" data-alignment="" data-portrait="" width="833" height="347" style="visibility: visible; height: 347px; margin-left: 0px; margin-top: 0px; position: absolute; width: 833px;">
                    <div class="camerarelative" style="width: 833px; height: 347px;"></div></div>
                  <div class="cameraSlide cameraSlide_2">
                    <div class="camerarelative" style="width: 833px; height: 347px;"></div></div><div class="cameraSlide cameraSlide_3">
                  <div class="camerarelative" style="width: 833px; height: 347px;"></div></div>
                  <div class="cameraSlide cameraSlide_4" style="z-index: 1; display: none;">
                    <div class="camerarelative" style="width: 833px; height: 347px;"></div></div></div></div>
                  <div class="camera_target_content"><div class="cameraContents">
                    <div class="cameraContent cameracurrent" style="display: block;"></div>
                    <div class="cameraContent"></div><div class="cameraContent"></div>
                    <div class="cameraContent"></div></div></div>
                  <div class="camera_bar" style="display: none; top: auto; height: 7px;">
                    <span class="camera_bar_cont" style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);"><span id="pie_0"></span></span></div>
                  <div class="camera_prev"><span></span></div>
                  <div class="camera_next"><span></span></div></div><div><div class="camera_thumbs"><div>
                <div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div>
                  <div class="camera_nextThumbs hideNav"><div></div></div><div class="camera_thumbs_cont" style="visibility: visible;"><div><ul style="width: 752px; margin-left: auto; margin-right: auto; margin-top: 0px;">
                  <li class="pix_thumb pix_thumb_0 cameracurrent camera_visThumb">
                    <!--<img src="img/thumb1.jpg" class="camera_thumb" style="opacity: 1;">-->
                    <%= image_tag "thumb1.jpg" , :class => "camera_thumb" %>
                  </li>
                  <li class="pix_thumb pix_thumb_1 camera_visThumb">
                    <!--<img src="img/thumb2.jpg" class="camera_thumb" style="opacity: 0.5;">-->
                    <%= image_tag "thumb2.jpg" , :class => "camera_thumb" %>
                  </li>
                  <li class="pix_thumb pix_thumb_2 camera_visThumb">
                    <%= image_tag "thumb3.jpg" , :class => "camera_thumb" %>
                  <li class="pix_thumb pix_thumb_3 camera_visThumb">
                    <%= image_tag "thumb4.jpg" , :class => "camera_thumb" %>
                </ul>
                </div>
                </div>
                </div>
              </div></div>
              </div>
                <div class="camera_loader" style="display: none;"></div></div>
            </article>
          </article>
        </div>
      </article>
      <article class="span12 operationsBox">
        <div class="holder">
          <%= link_to appindex_projects_path do %>
              <h2>Projects</h2>
          <% end %>
          <br>
          <hr>
          <h3>
            Super leadership combines highly qualified staff with the latest systems and equipment, in a dedicated team approach to meet our commitments.
          </h3>
        </div>
        <div class="row">
          <% Project.all.each do |x| %>
              <%= render "projects/project" , :x => x %>
          <% end %>
        </div>
      </article>
      <article class="span12 newsBox">
        <div class="holder">
          <%= link_to appindex_news_index_path do %>
          <h2>News</h2>
          <%end %>
          <br>
          <hr>
        </div>
        <div class="row">
          <% News.all.first(4).each do |x| %>
              <%= render "news/news" , :x => x %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="companyBox">
  <div class="container">
    <div class="row">
      <article class="span12">
        <ul>
          <li>
            <a href="#">
              <%= image_tag "comp_logo1.png" %>
            </a>
          </li>
          <li><a href="#">
            <%= image_tag "comp_logo2.png" %>
          </a></li>
          <li><a href="#">
            <%= image_tag "comp_logo3.png" %>
          </a></li>
          <li><a href="#">
            <%= image_tag "comp_logo4.png" %>
          </a></li>
          <li><a href="#">
            <%= image_tag "comp_logo5.png" %>
          </a></li>
          <li><a href="#">
            <%= image_tag "comp_logo6.png" %>
          </a></li>
        </ul>
      </article>
    </div>
  </div>
</section>


<script type="application/javascript">
    $(document).ready(function() {

        $("#owl-demo").owlCarousel({


//            navigation : true, // Show next and prev buttons
            autoPlay : 10000,
            slideSpeed : 300,
            paginationSpeed : 1000,
            singleItem:true
        });

        $(".proj").owlCarousel({
            autoPlay : 3000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 2000,
            singleItem : true,
            autoHeight : true,
            transitionStyle:"fade"
        });

        $(".news").owlCarousel({
            autoPlay : 3000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 2000,
            singleItem : true,
            autoHeight : true,
            transitionStyle:"fade"
        });


        $("#owl-services").owlCarousel({
            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true,
            autoHeight: true

            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
//            itemsDesktopSmall : [979,3]

        });



    });
</script>