<section>
  <article class="slider">
    <!---->
    <div id="" class="proj owl-carousel owl-theme">

      <% HomeGallery.all.each do |home_gallery| %>
          <% home_gallery.avatars.each do |hg| %>
          <div class="item">
            <%= image_tag hg.url , :width => "100%" %>
          </div>
              <% end %>
          <% end %>
    </div>
  </article>
</section>

<section class="banner-box">
  <div class="container">
    <div class="row">
      <article class="span12">
        <div class="holder">
          <h2>
            <%= t("home.whatwedo") %>
          </h2>
          <br>
          <hr>
          <h3>
            <%= t("home.caption_whatwedo") %>
          </h3>
        </div>
        <div class="row">
          <article class="banner-holder">
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>

                <%= image_tag "contract.png", :width => "60%" %>

              </figure>
              <a href="#">
                International Contracts
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>
                <%= image_tag "map.png", :width => "60%" %>
              </figure>
              <a href="#">
                Everywhere projects
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>
                <%= image_tag "duration.png", :width => "60%" %>
              </figure>
              <a href="#">
                Minimum Timing
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>
                <%= image_tag "capacity.png", :width => "60%" %>
              </figure>
              <a href="#">
                Great Design Capacity
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>
                <%= image_tag "manhour.png", :width => "60%" %>
              </figure>
              <a href="#">
                Manhours Contrsuctions
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
            <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
              <figure>
                <%= image_tag "date.png", :width => "60%" %>
              </figure>
              <a href="#">
                Day Deep Scheduling
              </a>
              <p>IGC’s well trained and highly experienced managerial staff, engineering supervisors and administrative staff, together with highly skilled technicians, ensure all of our clients the best in economical and construction services on or ahead of schedule</p>
            </div></div>
          </article>
        </div>
      </article>

      <article class="span12 operationsBox">
        <div class="holder">
          <%= link_to appindex_projects_path do %>
              <h2>Projects</h2>
          <% end %>
          <br>
          <hr>
          <h3>
            Super leadership combines highly qualified staff with the latest systems and equipment, in a dedicated team approach to meet our commitments.
          </h3>
        </div>
        <div class="row">
          <% Project.all.first(4).each do |x| %>
              <%= render "projects/project" , :x => x %>
          <% end %>
        </div>
      </article>
      <article class="span12 newsBox">
        <div class="holder">
          <%= link_to appindex_news_index_path do %>
              <h2>News</h2>
          <%end %>
          <br>
          <hr>
        </div>
        <div class="row">
          <% News.all.visible.first(4).each do |x| %>
              <%= render "news/news" , :x => x %>
          <% end %>
        </div>
      </article>

      <article class="span12" style="    margin-bottom: 150px;">
        <div class="holder">
              <h2>
                <%= (t"home.clients") %>
              </h2>
          <br>
          <hr>
        </div>
        <div class="row">
          <article class="span3 maxheight3 box1">
            <%= link_to "http://pogc.ir" do %>
                <%= image_tag "pogc.jpg"   , :width => "60%" %>
            <% end %>
            </article>

          <article class="span3 maxheight3 box1">

          <a href="http://iooc.co.ir" >
                <%= image_tag "IOOC.jpg" , :width => "60%" %>
              </a>
            </article>
          <article class="span3 maxheight3 box1">

          <a href="http://pedec.ir">
                <%= image_tag "pedecmade.jpg" , :width => "60%"   %>
              </a>
            </article>
          <article class="span3 maxheight3 box1">

          <a href="http://petropars.com">
                <%= image_tag "ppl.jpg"   , :width => "60%" %>
              </a>
            </article>
        </div>
      </article>
    </div>
  </div>
</section>



<script type="application/javascript">
    $(document).ready(function() {

        $("#owl-demo").owlCarousel({
            autoPlay : 8000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 2000,
            singleItem : true,
            autoHeight : true,
            responsive: true,
            transitionStyle:"fade"
        });

        $(".proj").owlCarousel({
            autoPlay : 6000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 2000,
            singleItem : true,
            autoHeight : false
        });

//        $(".news").owlCarousel({
//            autoPlay : 3000,
//            stopOnHover : true,
//            navigation:false,
//            paginationSpeed : 1000,
//            goToFirstSpeed : 2000,
//            singleItem : true,
//            autoHeight : true,
//            transitionStyle:"fade"
//        });


        $("#owl-services").owlCarousel({
            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true,
            autoHeight: true

        });
    });
</script>
