<section class="row ">
  <div class="">
    <div class="myheight">
      <div class="slides">
        <ul> <!-- slides -->
          <% HomeGallery.all.each do |home_gallery| %>
          <% home_gallery.avatars.each do |hg| %>
          <li>
            <!--<img src="images/pic1.jpg" alt="image01" />-->
            <%= image_tag hg.url , :width => "100%" %>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="banner-box">
  <div class="container">
    <div class="row">
      <article class="span12">
        <div class="holder">
          <h2>
            <%= t("home.whatwedo") %>
          </h2>
          <br>
          <hr>
          <h3 style="text-align: justify;">
            <%= t("home.caption_whatwedo") %>
          </h3>
        </div>
        <div class="row">
          <!-- <article class="banner-holder">
          <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
          <figure>

          <%= image_tag "contract.png", :width => "60%" %>

        </figure>
        <a href="#">
        <%= t("home.b1") %>
      </a>
    </div></div>
    <div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
    <figure>
    <%= image_tag "map.png", :width => "60%" %>
  </figure>
  <a href="#">
  <%= t("home.b2") %>

</a>
</div></div>
<div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
<figure>
<%= image_tag "duration.png", :width => "60%" %>
</figure>
<a href="#">
<%= t("home.b3") %>

</a>
</div></div>
<div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
<figure>
<%= image_tag "capacity.png", :width => "60%" %>
</figure>
<a href="#">
<%= t("home.b4") %>

</a>
</div></div>
<div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
<figure>
<%= image_tag "manhour.png", :width => "60%" %>
</figure>
<a href="#">
<%= t("home.b5") %>

</a>
</div></div>
<div class="span2 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
<figure>
<%= image_tag "date.png", :width => "60%" %>
</figure>
<a href="#">
<%= t("home.b6") %>

</a>
</div></div>
</article> -->
<br>
<br>
<br>
<br>
</div>
</article>

<article class="span12 operationsBox" style="direction: ltr !important;">
  <div class="holder">
    <%= link_to appindex_projects_path do %>
    <h2><%= (t"projects.title") %></h2>
    <% end %>
    <br>
    <hr>
    <h3>
      <%= (t"projects.caption") %>
    </h3>
  </div>

  <div class="row">

    <!-- powerplants -->
    <div class="span3 box4">
      <div class="categ owl-carousel owl-theme" >
        <% Project.all.where(:project_type => "onshore").first(3).each do |proj| %>
        <div class="item">
          <%= render "projects/sample" , :x => proj , :location => "onshore" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="span3 box4">
      <div class="categ owl-carousel owl-theme" >
        <% Project.all.where(:project_type => "offshore").last(3).each do |proj| %>
        <div class="item">
          <%= render "projects/sample" , :x => proj , :location => "offshore" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="span3 box4">
      <div class="categ owl-carousel owl-theme" >
        <% Project.all.where(:project_type => "powerplant").last(3).each do |proj| %>
        <div class="item">
          <%= render "projects/sample" , :x => proj , :location => "powerplant" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="span3 box4">
      <div class="categ owl-carousel owl-theme" >
        <% Project.all.where(:is_abroad => true).last(3).each do |proj| %>
        <div class="item">
          <%= render "projects/sample" , :x => proj , :location => "abroad" %>
        </div>
        <% end %>
      </div>
    </div>

    <!-- offshore -->
    <!-- onshore -->
    <!-- abroad -->


    <% Project.all.first(4).each do |x| %>
    <%#= render "projects/project" , :x => x %>
    <% end %>
  </div>

</article>
<article class="span12 newsBox">
  <div class="holder">
    <%= link_to appindex_news_index_path do %>
    <h2><%= (t"news.latest") %></h2>
    <%end %>
    <br>
    <hr>
  </div>
  <div class="row">
    <% News.all.visible.first(4).each do |x| %>
    <%= render "news/news" , :x => x %>
    <% end %>
  </div>
</article>

<!-- <article class="span12" style="    margin-bottom: 150px;">
<div class="holder">
<h2>
<%= (t"home.clients") %>
</h2>
<br>
<hr>
</div>
<div class="row">
<article class="span2 maxheight3 box4 offset2">
<%= link_to "http://pogc.ir" do %>
<%= image_tag "pogc.jpg"   , :width => "45%" %>
<% end %>
</article>

<article class="span2 maxheight3 box4">

<a href="http://iooc.co.ir" >
<%= image_tag "IOOC.jpg" , :width => "45%" %>
</a>
</article>

<article class="span2 maxheight3 box4">

<a href="http://pedec.ir">
<%= image_tag "pedecmade.jpg" , :width => "45%" %>
</a>
</article>

<article class="span2 maxheight3 box4">

<a href="http://petropars.com">
<%= image_tag "ppl.jpg"   , :width => "45%" %>
</a>
</article>
</div>
</article> -->
</div>
</div>
</section>

<script type="application/javascript">
$(document).on('ready', function(event) {

  $(".categ").owlCarousel({
    autoPlay : 6000,
    stopOnHover : true,
    navigation:false,
    paginationSpeed : 1000,
    goToFirstSpeed : 2000,
    singleItem : true,
    autoHeight : false
  });

  $(".proj").owlCarousel({
    autoPlay : 6000,
    stopOnHover : true,
    navigation:false,
    paginationSpeed : 1000,
    goToFirstSpeed : 2000,
    singleItem : true,
    autoHeight : false
  });

  $("#owl-services").owlCarousel({
    navigation : true, // Show next and prev buttons
    slideSpeed : 300,
    paginationSpeed : 400,
    singleItem:true,
    autoHeight: true

  });

});
</script>
