<header class="indent">
  <div class="container">
    <div class="row">
      <article class="span12">
        <div class="searchBox">
          <div>
            <ul>
              <li>
                <% if I18n.locale == I18n.default_locale %>
                <%= link_to "Ar", :locale=>'ar' %>
                <small>| En</small>
                <% else %>
                <%= link_to "En", :locale=>'en'  %>
                <small>| Ar</small>
                <%end%>
              </li>
            </ul>
            <%=form_tag({controller: "/main" , action: "search" },method: "get" ,class:"search",:id => "search" ) do%>
            <input type="text" onfocus="if(this.value =='' ) this.value=''" onblur="if(this.value=='') this.value=''" value="" name="query">
            <a href="#" onclick="document.getElementById('search').submit()">
              <%= image_tag "magnify.png"%>
            </a>
            <% end %>
          </div>
        </div>
        <h1 class="brand" style="text-align: center">
          <%= link_to main_home_path do %>
          <%= image_tag "logonewblue.png" , :width => "100px"  %>
          <br>
          <span style="font-size: 12px; color:rgb(12, 99, 231) ">
            <%= t("header.igc_o") %>
          </span>
          <% end %>
        </h1>
        <div class="logoBox clearfix">
          <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
              <div class="clearfix">
                <div class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu clearfix sf-js-enabled">
                    <% if is_arab %>
                    <li>
                      <%= link_to main_contact_us_path do %>
                      <%= t("header.contact_us") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to appindex_news_index_path do  %>
                      <%= t("header.news") %>
                      <% end %>
                    </li>
                    <li class="sub-menu">
                      <a >
                        <%= t("header.assets") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <% Gadget.all.each do |g| %>
                        <li>
                          <% if is_arab %>
                          <%= link_to g.arabic_name , appshow_gadget_path(g) %>
                          <% else %>
                          <%= link_to g.name , appshow_gadget_path(g) %>
                          <% end %>
                        </li>
                        <% end %>
                        <li>
                          <%= link_to "#{t("onshoreyards")}" , appindex_onshore_yards_path %>
                        </li>
                        <li>
                          <%= link_to "#{t("offshorefacilities")}" , appindex_offshore_facilities_path %>
                        </li>
                        <li>
                          <%= link_to "#{t("construction_equipments")}" , appindex_construction_equipments_path %>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu">

                      <%= link_to appindex_projects_path do  %>
                      <%= t("header.projects") %>
                      <span></span>
                      <b class="sf-sub-indicator"></b>
                      <% end %>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li>
                          <!--<a href="#">-->
                          <%= link_to appindex_projects_path(:status => 1) do%>
                          <%= t("header.sub_projects.ongoing") %>
                          <% end %>
                          <!--</a>-->
                        </li>
                        <li class="">
                          <!--<a href="#" class="sf-with-ul">-->
                          <%= link_to appindex_projects_path(:status=> 0) , :class=>"sf-with-ul" do %>
                          <%= t("header.sub_projects.completed") %>
                          <span></span>
                          <b class="sf-sub-indicator"></b>
                          <% end %>
                          <!--</a>-->
                          <ul class="submenu-1 sub-menu" style="display: none;">
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"onshore") do %>
                              <%= t("header.sub_projects.sub_completed.onshore") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"offshore") do %>
                              <%= t("header.sub_projects.sub_completed.offshore") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"powerplant") do %>
                              <%= t("header.sub_projects.sub_completed.powerplant") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status => 0 , :type => "abroad") do %>
                              <%= t("header.sub_projects.sub_completed.abroad") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <!--<li><a href="#">Mauris accum</a></li>-->
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu">

                      <a >
                        <%= t("header.activities") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li class="">
                          <%= link_to main_onshore_activities_path, class: "sf-with-ul"  do%>
                          <%= t("header.sub_activities.onshore") %>
                          <b class="sf-sub-indicator"></b>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to main_offshore_activities_path do %>
                          <%= t("header.sub_activities.offshore") %>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to main_powerplant_activities_path do %>
                          <%= t("header.sub_activities.powerplant") %>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                    <li class="">
                      <%= link_to main_about_us_path do  %>
                      <%= t("header.about_us") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to root_path do %>
                      <%= t("header.root") %>
                      <% end %>
                    </li>
                    <% else %>
                    <li>
                      <%= link_to root_path do %>
                      <%= t("header.root") %>
                      <% end %>
                    </li>
                    <li class="">
                      <%= link_to main_about_us_path do  %>
                      <%= t("header.about_us") %>
                      <% end %>
                    </li>
                    <li class="sub-menu">

                      <a >
                        <%= t("header.activities") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li class="">
                          <%= link_to main_onshore_activities_path, class: "sf-with-ul"  do%>
                          <%= t("header.sub_activities.onshore") %>
                          <b class="sf-sub-indicator"></b>
                          <% end %>
                          <!--<ul class="submenu-1 sub-menu" style="display: none;">-->
                          <!--<li><a href="#">Gheshm</a></li>-->
                          <!--<li><a href="#">South Pars</a></li>-->
                          <!--&lt;!&ndash;<li><a href="#">Mauris accum</a></li>&ndash;&gt;-->
                          <!--</ul>-->
                        </li>
                        <li>
                          <%= link_to main_offshore_activities_path do %>
                          <%= t("header.sub_activities.offshore") %>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to main_powerplant_activities_path do %>
                          <%= t("header.sub_activities.powerplant") %>
                          <% end %>
                        </li>
                      </ul>
                    </li>

                    <li class="sub-menu">

                      <%= link_to appindex_projects_path do  %>
                      <%= t("header.projects") %>
                      <span></span>
                      <b class="sf-sub-indicator"></b>
                      <% end %>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li>
                          <!--<a href="#">-->
                          <%= link_to appindex_projects_path(:status => 1) do%>
                          <%= t("header.sub_projects.ongoing") %>
                          <% end %>
                          <!--</a>-->
                        </li>
                        <li class="">
                          <!--<a href="#" class="sf-with-ul">-->
                          <%= link_to appindex_projects_path(:status=> 0) , :class=>"sf-with-ul" do %>
                          <%= t("header.sub_projects.completed") %>
                          <span></span>
                          <b class="sf-sub-indicator"></b>
                          <% end %>
                          <!--</a>-->
                          <ul class="submenu-1 sub-menu" style="display: none;">
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"onshore") do %>
                              <%= t("header.sub_projects.sub_completed.onshore") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"offshore") do %>
                              <%= t("header.sub_projects.sub_completed.offshore") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status=> 0,:type=>"powerplant") do %>
                              <%= t("header.sub_projects.sub_completed.powerplant") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <li>
                              <!--<a href="#">-->
                              <%= link_to appindex_projects_path(:status => 0 , :type => "abroad") do %>
                              <%= t("header.sub_projects.sub_completed.abroad") %>
                              <% end %>
                              <!--</a>-->
                            </li>
                            <!--<li><a href="#">Mauris accum</a></li>-->
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu">
                      <a >
                        <%= t("header.assets") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <% Gadget.all.each do |g| %>
                        <li>
                          <%= link_to g.name , appshow_gadget_path(g) %>
                        </li>
                        <% end %>
                        <li>
                          <%= link_to "#{t("onshoreyards")}" , appindex_onshore_yards_path %>
                        </li>
                        <li>
                          <%= link_to "#{t("offshorefacilities")}" , appindex_offshore_facilities_path %>
                        </li>
                        <li>
                          <%= link_to "#{t("construction_equipments")}" , appindex_construction_equipments_path %>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <%= link_to appindex_news_index_path do  %>
                      <%= t("header.news") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to main_contact_us_path do %>
                      <%= t("header.contact_us") %>
                      <% end %>
                    </li>
                    <% end %>

                  </ul>
                  <select class="select-menu" style="display: inline-block;" onChange="window.location.href=this.value">
                    <option value="#"><%= t("header.navigate_to") %></option>
                    <option value=<%= root_path %>> <%= t("header.root") %></option>
                    <option value= <%= main_about_us_path %> > <%= t("header.about_us") %> </option>
                    <option value= <%=  %> >––<%= t("header.activities") %></option>
                    <option value=<%= main_onshore_activities_path %>>–––<%= t("header.sub_activities.onshore") %></option>
                    <option value=<%= main_offshore_activities_path %>>–––<%= t("header.sub_activities.offshore")%></option>
                    <option value=<%= main_powerplant_activities_path %> >–––<%= t("header.sub_activities.powerplant")%></option>

                    <option value=<%= appindex_projects_path %>  >––<%= t("header.projects") %></option>
                    <option value=<%= appindex_projects_path(:status=>1) %>>–––<%= t("header.sub_projects.ongoing") %></option>
                    <option value=<%= appindex_projects_path(:status=>0) %>>–––<%= t("header.sub_projects.completed") %></option>
                    <option value=<%= appindex_projects_path(:status=>0,:type=>"onshore") %>>––––––<%= t("header.sub_activities.onshore") %></option>
                    <option value=<%= appindex_projects_path(:status=> 0,:type=>"offshore") %>>––––––<%= t("header.sub_activities.offshore")%></option>
                    <option value= <%= appindex_projects_path(:status=> 0,:type=>"powerplant") %> >––––––<%= t("header.sub_activities.powerplant")%></option>
                    <option value=""> <%= t("header.assets") %></option>
                    <% Gadget.all.each do |g| %>
                    <li>
                      <option value=<%= appshow_gadget_path(g) %>  >––<%= g.name %></option>
                    </li>
                    <% end %>
                    <li>
                      <option value=<%= appindex_onshore_yards_path  %>  >––<%= t("onshoreyards") %></option>
                    </li>
                    <li>
                      <option value=<%= appindex_offshore_facilities_path  %>  >––<%= t("offshorefacilities") %></option>
                    </li>
                    <li>
                      <option value=<%= appindex_construction_equipments_path   %>  >––<%= t("construction_equipments") %></option>
                    </li>
                    <option value="<%= main_contact_us_path %>"> <%= t("header.contact_us") %> </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</header>
