<header class="indent">
  <div class="container">
    <div class="row">
      <article class="span12">
        <div class="searchBox">
          <div>
            <ul>
              <li><% if I18n.locale == I18n.default_locale %>
                    <%= link_to "Ar", :locale=>'ar'%><small class="text-muted">| En</small>
                <% else %>
                    <%= link_to "En", :locale=>'en'%><small class="text-muted">| Ar</small>
                <%end%>
              </li>
              <!--<li>-->
                <!--<%= link_to admin_dashboard_path do %>-->
                    <!--<%= t("header.member_area") %>-->
                <!--<% end %>-->
              <!--</li>-->
            </ul>
            <form id="search" class="search" action="search.php" method="GET" accept-charset="utf-8">
              <input type="text" onfocus="if(this.value =='' ) this.value=''" onblur="if(this.value=='') this.value=''" value="" name="s">
              <a href="#" onclick="document.getElementById('search').submit()">
              <%= image_tag "magnify.png"%>
              </a>
            </form>
          </div>
        </div>
        <div class="logoBox clearfix">
          <h1 class="brand" style="text-align: center">

            <%= link_to main_home_path do %>
                <%= image_tag "logonewblue.jpg" , :width => "100px"  %>
                  <br>
                <span style="font-size: 12px; color:rgb(12, 99, 231) ">
                 <%= t("header.igc_o") %>
                </span>
          <% end %>
          </h1>
          <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
              <div class="clearfix">
                <div class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu clearfix sf-js-enabled">
                    <li>
                      <%= link_to root_path do %>
                        <%= t("header.root") %>
                          <% end %>
                    </li>
                    <li class="">
                      <%= link_to main_our_company_path do  %>
                          <%= t("header.about_us") %>
                      <% end %>
                    </li>

                    <li class="sub-menu">

                      <a href="#" class="">
                        <%= t("header.activities") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li class="">
                          <a href="#" class="sf-with-ul">
                            <%= t("header.sub_activities.onshore") %>
                            <b class="sf-sub-indicator"></b></a>
                          <!--<ul class="submenu-1 sub-menu" style="display: none;">-->
                            <!--<li><a href="#">Gheshm</a></li>-->
                            <!--<li><a href="#">South Pars</a></li>-->
                            <!--&lt;!&ndash;<li><a href="#">Mauris accum</a></li>&ndash;&gt;-->
                          <!--</ul>-->
                        </li>
                        <li>
                          <a href="#">
                          <%= t("header.sub_activities.offshore") %>
                        </a>
                        </li>
                        <li><a href="#">
                          <%= t("header.sub_activities.powerplant") %>
                        </a></li>
                      </ul>
                    </li>

                    <li class="sub-menu">

                        <%= link_to appindex_projects_path do  %>
                        <%= t("header.projects") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                        <% end %>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li>
                          <a href="#">
                            <%= t("header.sub_projects.ongoing") %>
                          </a>
                        </li>
                        <li class="">
                          <a href="#" class="sf-with-ul">
                            <%= t("header.sub_projects.completed") %>
                            <span></span>
                            <b class="sf-sub-indicator"></b>
                          </a>
                          <ul class="submenu-1 sub-menu" style="display: none;">
                          <li>
                            <a href="#">
                              <%= t("header.sub_projects.sub_completed.onshore") %>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <%= t("header.sub_projects.sub_completed.offshore") %>
                            </a>
                          </li>
                            <li>
                              <a href="#">
                                <%= t("header.sub_projects.sub_completed.powerplant") %>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <%= t("header.sub_projects.sub_completed.abroad") %>
                              </a>
                            </li>
                          <!--<li><a href="#">Mauris accum</a></li>-->
                          </ul>
                        </li>
                      </ul>
                    </li>


                    <li class="sub-menu">
                      <a href="#" class="">
                        <%= t("header.assets") %>
                        <span></span>
                        <b class="sf-sub-indicator"></b>
                      </a>
                      <ul class="submenu sub-menu" style="display: none;">
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.offshore_yard") %>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.onshore_yard") %>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.warehouses") %>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.camps") %>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.contruction_equipment") %>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <%= t("header.sub_assets.offshore_facilities") %>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <%= link_to appindex_news_index_path do  %>
                          <%= t("header.news") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to main_contact_us_path do %>
                          <%= t("header.contact_us") %>
                      <% end %>
                    </li>
                  </ul>
                  <select class="select-menu" style="display: inline-block;" onChange="window.location.href=this.value">
                    <option value="#">Navigate to...</option>
                    <option value="" >About us</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/index-1.html">Our Industry</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">––Vestibulum iaculis</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">––Fusce euismod conuat</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">–––Pellentesque sed</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">–––Aliquam congue ferm</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">–––Mauris accum</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/#">––Pellentesque</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/index-2.html">Exploration &amp; Production</option>
                    <option value="<%= main_contact_us_path %>">Contacts</option>
                    <option value="http://livedemo00.template-help.com/wt_46513/index-4.html">Blog</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</header>