<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
                complete the form
        </h3>
      </div>

        <div class="panel-body">


          <%= form_for(@news,:html => {role: "form"} ) do |f| %>
              <% if @news.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

                    <ul>
                      <% @news.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :project_id %><br>
                <%#= f.number_field :project_id,:class=>"form-control" %>
                 <%= f.select :project_id , Project.all.map { |f| [f.title, f.id ] } ,{}, :class=>"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :title %><br>
                <%= f.text_area :title ,:class=>"form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :avatars %><br>
                <%#= f.text_field :avatars %>
                <%= f.file_field :avatars, multiple: true ,:class=>"form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :caption %><br>
                <%= f.text_area :caption,:class=>"form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "submit" , :class => "btn btn-default pull-right" %>
                <%= link_to 'Back', news_index_path , class: "btn btn-warning " %>

              </div>
          <% end %>
        </div>
    </div>


</div>

