<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h2>
          <%= t("news.title") %>
        </h2>
        <br>
        <hr>
      </div>
      <ul class="list6">
        <% @news.each do |news| %>
            <li>
              <div class="thumb-pad5">
                <div class="thumbnail">
                  <figure>
                    <% if news.avatars.first.present? %>
                        <%= image_tag news.avatars.first.url(:medium) %>
                    <% else %>
                        <%= image_tag "news.png" , :width => "20%"  %>
                    <% end %>
                  </figure>
                  <div class="caption">
                    <time datetime="2013-01-01">
                      <%= news.created_at %>
                    </time>
                    <br>
                    <a href="#" class="lnk">
                      <%= news.title %>
                    </a>
                    <% if news.project_id.present?%>
                        <%= link_to appshow_project_path(news.project_id), :class => "pull-right" do %>
                            <i class="icon-bookmark"></i>
                            <%= news.project.title %>
                        <% end %>
                    <% end %>
                    <p>
                      <%= news.caption %>
                    </p>
                    <%= link_to t("news.read_more ") , appshow_news_path(news) , :class => "btn btn-primary btn1" %>
                  </div>
                </div>
              </div>
            </li>
        <% end %>

      </ul>

      <div class="list6 " style="text-align: center">
        <%= paginate @news %>
      </div>
    </article>
  </div>
</div>



