
<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h2>
          <%= @news.title %>
        </h2>
        <p style="    line-height: 30px;
                text-align: justify;
                font-weight: bold;">
          <i class="icon icon-comment"></i>
          <%= @news.caption %>
        </p>
        <br>
        <p>
          <% if @news.project_id.present? %>
              <%= link_to appshow_project_path(@news.project_id) , :class => "btn btn_primary pull-right" do %>
                  <%= t("projects.check_out") %> <%= @news.project.title %> <i class="icon-bookmark"></i>
              <% end %>
          <% end %>
        </p>
        <br>
        <br>
        <hr>
      </div>

    </article>
  </div>
  <div class="row" style="text-align:  center;">
    <section class="example">
      <div id="example2" class="accordion-slider">
        <div class="as-panels">
          <% @news.avatars.each do |a| %>

              <div class="as-panel">
                <%= image_tag a.url(:medium) , :class => "as-background" %>
                <%= link_to a.url do %>
                    <%= image_tag a.url() , :class => "as-background-opened" %>
                <% end %>
              </div>

          <% end %>

        </div>
      </div>
    </section>
    <br>    <br>
    <br>

    <hr>
    <br>
    <br>

  </div>

  <!--<div class="row">-->
  <!--<article class="span6 well offset3">-->

  <!--</article>-->
  <!--</div>-->


</div>


