<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h2>
          <%= @project.title %>
        </h2>
        <br>
        <hr>
      </div>

    </article>
  </div>
  <div class="row">
    <section class="example">
      <div id="example2" class="accordion-slider">
        <div class="as-panels">
          <% @project.avatars.each do |a| %>

              <div class="as-panel">

                <%= image_tag a.url(:medium) , :class => "as-background" %>
                <%= link_to a.url do %>
                    <%= image_tag a.url() , :class => "as-background-opened" %>
                <% end %>
              </div>

          <% end %>

        </div>
      </div>
    </section>
    <br><br>
  </div>

  <div class="row" style="text-align: center">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h6 style="    font-size: 18px;">
          <%= t("projects.specifications") %>
        </h6>
      </div>
    </article>
    <br>
    <hr>
    <article class="">
      <div class="span1_5 thumb-pad-bann maxheight " style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "client-profile.png", :width => "35%"  %>
          <br>
          <p class="mrg">
            <%= t("projects.client") %>
          </p>
        </figure>
        <p>
          <%= @project.client_name %>
        </p>
      </div></div>
      <div class="span1_5 thumb-pad-bann maxheight " style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "contract.png", :width => "35%" %>
          <br>
          <p class="mrg">
            <%= t("projects.contract_type") %>
          </p>
        </figure>
        <p class="mrg">
          <!--<small>contract type:</small> -->
          <%= @project.contract_type %>
        </p>
      </div></div>
      <div class="span1_5 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "map.png", :width => "35%" %>
          <br>
          <p class="mrg">
            <%= t("projects.locatoin") %>
          </p>
        </figure>
        </figure>
        <%= @project.location %>
      </div></div>
      <div class="span1_5 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "duration.png", :width => "35%" %>
          <br>
          <p class="mrg">
                        <%= t("projects.duration") %>
          </p>
        </figure>
        <p>
          <!--<small>contract type:</small> -->
          '<%= @project.duration %>' month

        </p>
      </div></div>
      <div class="span1_5 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "date.png", :width => "35%" %>
          <br>
          <p class="mrg">
            <%= t("projects.start_date") %>
          </p>
        </figure>
        <%= Timeliness.parse( @project.start_date, :format => 'mm/dd/yyyy').year if @project.start_date.present?  %>
      </div></div>

      <div class="span1_5 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "manhour.png", :width => "35%" %>
          <br>
          <p class="mrg">
            <%= t("projects.constr_man_hour") %>
          </p>
        </figure>
        <%= @project.construction_man_hour %>
        <%= t("projects.man_hour") %>
      </div></div>

      <div class="span1_5 thumb-pad-bann maxheight" style="height: 346px;"><div class="box_inner">
        <figure>
          <%= image_tag "capacity.png", :width => "35%" %>
          <br>
          <p class="mrg">
            <%= t("projects.design_capacity") %>
          </p>
        </figure>
        <%= @project.design_capacity %>
      </div></div>
    </article>

    <br>
    <br>
    <br>
  </div>

  <% if @project.news.present? %>
      <div class="row" style="text-align: center">
        <article class="span12 list6-box padTop">
          <div class="holder">
            <h6 style="    font-size: 18px;">
              <%= t("projects.news_related") %>
            </h6>
          </div>
        </article>
        <br>
        <br>
        <hr>
      </div>
      <div class="row">
        <ul class="list6">
          <% count=0 %>
          <% @project.news.visible.order("publish_date DESC").each do |news| %>
              <% count = count + 1 %>
              .<li>
          <div class="thumb-pad5">
            <div class="thumbnail">
              <figure>
                <% if news.avatars.first.present? %>
                    <%= image_tag news.avatars.first.url(:medium) %>
                <% else %>
                    <%= image_tag "news.png" , :width => "20%"  %>
                <% end %>
              </figure>
              <div class="caption">
                <time datetime="2013-01-01" class="">
                  <small>
                    posted on:
                  </small>
                  <%= news.created_at %>
                </time>
                <br>

                <%= link_to appshow_news_path(news), class: "lnk" do %>
                    <%= count  %> )  <%= news.title %>
                <% end %>
                <p>
                  <%= news.caption %>
                </p>
                <%= link_to t("news.read_more ") , appshow_news_path(news) , :class => "btn btn-primary btn1" %>
              </div>
            </div>
          </div>
        </li>
          <% end %>
        </ul>
      </div>
      <div class="row" style="text-align: center">
        <br>
        <hr>
        <br>
      </div>
  <% else %>
      <br><br><br>
  <% end %>

</div>
</div>

