<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @onshore_yard.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @onshore_yard.location %>
</p>

<p>
  <strong>Area:</strong>
  <%= @onshore_yard.area %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @onshore_yard.remark %>
</p>

<%= link_to 'Edit', edit_onshore_yard_path(@onshore_yard) %> |
<%= link_to 'Back', onshore_yards_path %>
