<div class="col-md-12 col-sm-12">

  <div class="row well">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @feedback.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @feedback.email %>
    </p>

    <p>
      <strong>Telephone:</strong>
      <%= @feedback.telephone %>
    </p>

    <p>
      <strong>Message:</strong>
      <%= @feedback.message %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @feedback.created_at %>
    </p>




    <%= link_to 'Edit', edit_feedback_path(@feedback) , :class => "btn btn-warning" %> |
    <%= link_to 'Back', feedbacks_path , :class => "btn btn-primary"%>

  </div>
</div>