<!DOCTYPE html>
<html>
<head>
  <title>IGC</title>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "igcfav.png" %>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <%= render 'admin/top_nav' %>
  <!--/. NAV TOP  -->
  <%= render 'admin/left_nav' %>

  <div id="page-wrapper" >
    <div id="page-inner">

      <div class="row">

        <div class="col-md-12">
          <h1 class="page-header">
            <%= params[:controller] %> <small><%= params[:action] %></small>
          </h1>
        </div>
      </div>
      <!-- /. ROW  -->
      <% if notice %>
          <div class="alert alert-success">

            <strong>Well Done!</strong>
            <%= notice %>
          </div>
      <% end %>

      <% if alert %>
          <div class="alert alert-success">

            <strong>Oh snap!</strong>
            <%= alert %>
          </div>
      <% end %>
        <div class="container-fluid">
      <%= yield %>
        </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
  </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
</body>
</html>


