<!DOCTYPE html>
<html>
<head>
  <title>IGC </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="global">

<!--header-->
<%= render 'shared/header' %>

  <% if notice %>
      <div class="alert alert-success">

        <strong>Well Done!</strong>
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-success">

        <strong>Oh snap!</strong>
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>

</div>
<!--footer-->
<%= render 'shared/footer' %>
<!--<script src="js/bootstrap.js"></script>-->
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">-->

<a href="#" id="toTop" style="right: 50%; margin-right: -44px; display: block;">
  <span id="toTopHover"></span>
</a>


</body>
</html>
