<!DOCTYPE html>
<html>
<head>

  <title>IGC
    <%="|#{@title}" if @title.present? %>
  </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "igcfav.png" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @content.present? %>
      <meta name="description" content= <%=@content%> >
  <% else %>
      <meta name="description" content=”Iran International General Contractor (IGC) is active in most relevant areas of Oil & Gas & Power Plants.” >
  <% end %>
</head>

<body>

<div class="global">

  <!--header-->
  <%= render 'shared/header' %>

  <% if notice %>
      <div class="alert alert-success">

        <strong>Well Done!</strong>
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-success">

        <strong>Oh snap!</strong>
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>

</div>
<!--footer-->
<%= render 'shared/footer' %>
<!--<script src="js/bootstrap.js"></script>-->
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">-->

<a href="#" id="toTop" style="right: 50%; margin-right: -44px; display: block;">
  <span id="toTopHover"></span>
</a>


</body>
</html>
